
body {
background-color: #444444;
background-image: url("https://cdn.glitch.me/d354bb74-db20-4c6c-90db-b2646d509a55/PXL_20210526_014527428.jpg");
text-align: center;
background-position: center bottom;
background-repeat: no-repeat;
}
a{
  font-family:'Overpass', sans-serif
}
a:link, a:visited{color: #999999}
a:hover{color: white}

div{
    align-items:center ;
    text-align:center;
    justify-content: center;
}
