h2,h3{
  font-family:'overpass',sans-serif;
}
h1,h2,h3,p,button,iframe{
  margin:0
}
#map,#map2{
  height:350px;
  width:60%;
  display:inline-block;
  min-width:350px;
  cursor: cell;
}
#map{
  max-width:350px;
}